@import "../../assets/styles/variables";

.introduction-card {
    .card__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .card__side-image-holder {
        border-radius: $card-side-image-border-radius;
        overflow: hidden;

        .card__side-image {
            max-width: 100%;
        }
    }

    .card__title {
        font-weight: 900;
        line-height: 1.75;
        font-size: 2rem;
    }
}
