@import 'src/assets/styles/_variables.scss';
@import 'src/assets/styles/_colors.scss';

.form-error-text {
    color: $annotations-error;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: $spacing-1;
}