body {
  background: #34495e;
  color: white;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}

.input-wrapper {
  width: 99%;
  height: 60px;
  font-size: 12px;
  margin-bottom: 20px;
}

label {
  width: 96px;
  display: inline-block;
  font-size: 22px;
  margin-right: 10px;
}
input {
  width: 60%;
  border-radius: 10px;
  height: 40%;
  font-size: 22px;
  border: 0;
  padding: 10px;
}
.btn {
  width: 60%;
  outline: none;
  cursor: pointer;
  margin-left: 96px;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-size: 22px;
  border: 0px;
  margin-bottom: 20px;
}
button:disabled {
  background: #dddddd;
  cursor: not-allowed;
}
.red-background {
  background: #e91e63;
}

.green-background {
  background: #4caf50;
}

.green-color {
  color: #4caf50;
}
.red-color {
  color: #e91e63;
}
select {
  width: 63%;
  border-radius: 10px;
  height: 80%;
  font-size: 17px;
  border: 0;
  padding: 10px;
}
.error {
  margin: 4px 0;
  color: #e91e63;
}
