:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --container-border-color: rgb(226, 226, 226);
  --input-border-color: #ccc;
  --input-bg-color: #fff;
  --input-color: #55595c;
  --input-hover-border-color: #407bff;
  --button-color: #fff;
  --button-bg-color: #b3caff;
  --button-border-color: #b3caff;
  --button-hover-bg-color: #407bff;
  --button-hover-border-color: #407bff;
  --invalid-border-color: #a94442;
  --invalid-box-shadow-color: #ce8483;
  --loader-border-color: #f3f3f3;
  --loader-border-top-color: #3498db;
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --container-border-color: rgb(90, 90, 90);
      --input-border-color: #666;
      --input-bg-color: #222;
      --input-color: #ddd;
      --input-hover-border-color: #60a0ff;
      --button-color: #ddd;
      --button-bg-color: #50505a;
      --button-border-color: #50505a;
      --button-hover-bg-color: #60a0ff;
      --button-hover-border-color: #60a0ff;
      --invalid-border-color: #ff7f7f;
      --invalid-box-shadow-color: #ff5151;
      --loader-border-color: #505050;
      --loader-border-top-color: #60a0ff;
    }
  } */

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
  transition: all;
  margin: 0px 60px;
}

.container {
  border: 1px solid var(--container-border-color);
  margin: 10vh auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 28px;
  max-width: 1500px;
}

#illustration {
  height: 800px;
  width: 800px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.illustration.active {
  opacity: 1 !important;
}

.illustration-step1,
.illustration-step2,
.illustration-step3 {
  background-repeat: no-repeat;
}

.illustration-step1 {
  background-image: url("./assets/svg/step1.svg");
  background-size: cover;
}

.illustration-step2 {
  background-image: url("./assets/svg/step2.svg");
}

.illustration-step3 {
  background-image: url("./assets/svg/step3.svg");
}

.step,
.hidden {
  width: 400px;
  border: 1px solid var(--input-border-color);
  border-radius: 16px;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.5s, max-height 0.5s, visibility 0.5s, margin 0.5s,
    padding 0.5s;
}

.step {
  margin: 50px auto;
  padding: 20px;
}

.hidden {
  margin: 0 auto;
  padding: 0;
}

.step:not(.hidden) {
  opacity: 1;
  max-height: 500px;
  visibility: visible;
  transition: opacity 0.5s, max-height 0.5s;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--input-color);
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  cursor: pointer;
}

input:hover,
button:hover {
  border-color: var(--input-hover-border-color);
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.invalid {
  border-color: var(--invalid-border-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 6px var(--invalid-box-shadow-color);
}

.loader {
  width: 50px;
  height: 50px;
  border: 3px solid var(--loader-border-color);
  border-radius: 50%;
  border-top: 3px solid var(--loader-border-top-color);
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1335px) {
  body {
    overflow-y: auto;
  }
  #illustration {
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 700px) {
  .step {
    width: 60vw !important;
  }
  body {
    margin: 10px;
  }
}
.moveWithMouse {
  transition: transform 0.5s;
  transform: translate(0px, 0px);
}
