
$app-background-color: #1c2128;
$card-background-color: #22272e;
$border-color: #484848;
$app-color: #d6d6d6;
$annotations-error: #F16063;
$green: #007629;
$yellow: #727100;
$white: #FFF;

$button-primary-background-color: #026a9b;
$button-primary-border-color: #00aeff;

$button-success-background-color: #007629;
$button-success-border-color: #03d04b;