// Border Radiuses
$radius: 4px;
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 16px;

// Spacings
$space: 4px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 18px;
$spacing-6: 20px;
$spacing-7: 24px;
$spacing-8: 28px;
$spacing-9: 32px;
$spacing-10: 40px;
$spacing-11: 56px;
$spacing-12: 64px;
$spacing-13: 80px;
$spacing-14: 96px;
$spacing-15: 120px;
$spacing-16: 136px;
$spacing-17: 160px;
$spacing-18: 200px;
$spacing-19: 240px;