$font-family-base: "IRANYekanXVF", "sans-serif";
$font-size-base: 16px;

$body-bg: rgb(242, 123, 88);
$body-gradiant-bg: linear-gradient(232deg, #ef9389 0%, rgb(195, 91, 74) 100%);

$card-bg: #fff;
$card-border-radius: 2rem;
$card-box-shadow: 0px 24px 20px -8px rgba(0, 0, 0, 0.1);
$card-padding-vertical: 1.5rem;
$card-padding-horizental: 2rem;
