@import "css-normlizer";
@import "fonts";
@import "variables";

html {
    height: 100%;
    width: 100%;
    direction: rtl;
    text-align: right;
    font-size: $font-size-base;
}

body {
    height: 100%;
    width: 100%;
    background: $body-bg;
    background: $body-gradiant-bg;
    font-family: $font-family-base;

    padding: 5rem;
}

.card {
    background-color: $card-bg;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: $card-padding-vertical $card-padding-horizental;
}
