@import "css-normlizer";
@import "fonts";
@import "variables";

html {
    height: 100%;
    width: 100%;
    direction: rtl;
    text-align: right;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

body {
    height: 100%;
    width: 100%;
    background: $body-bg;
    background: $body-gradiant-bg;
    font-family: $font-family-base;
}

#root {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;

    .main-content {
        max-width: 1280px;
        width: 100%;
    }
}

.card {
    background-color: $card-bg;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: $card-padding-vertical $card-padding-horizental;
}

input {
    border: none;
    background-color: $input-bg;
    padding: $input-padding;
    border-radius: $input-border-radius;
    font-size: $input-font-size;
    color: $body-color;

    &:disabled {
        background-color: map-get($colors, "disabled");
    }

    &:focus,
    &:focus-within,
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

button {
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    font-size: $btn-font-size;
    transition: all 0.25s ease-in-out;
    font-variation-settings: map-get($font-weights, 600);

    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;

    &.primary {
        background-color: map-get($colors, "primary");
        color: #fff;

        &:hover,
        &:active {
            background-color: scale-color(map-get($colors, "primary"), $lightness: -10%);
        }
    }

    &:disabled {
        background-color: map-get($colors, "disabled");
        cursor: auto;

        &:hover,
        &:active {
            background-color: map-get($colors, "disabled");
        }
    }
}

.btn-group {
    display: flex;
    list-style-type: none;
    border-radius: $btn-border-radius;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .btn-group__btn {
        display: flex;
        background-color: $input-bg;
        border-radius: 0;
        user-select: none;
        font-variation-settings: map-get($font-weights, 400);

        &.active {
            background-color: map-get($colors, "primary");
        }
    }
}

.toast {
    position: fixed;
    z-index: 99;
    top: 1.5rem;
    right: 1.5rem;
    color: #fff;
    padding: $btn-padding;
    transition: all 0.35s ease-in-out;
    border-radius: $btn-border-radius;
    opacity: 0;
    pointer-events: none;

    .toast__text {
        margin: 0;
    }

    &.success {
        background-color: map-get($colors, "success");
        opacity: 1;
    }

    &.failed {
        background-color: map-get($colors, "danger");
        opacity: 1;
    }
}
