@import "css-normlizer";

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: rgb(242, 123, 88);
    background: linear-gradient(232deg, rgba(242, 123, 88, 1) 0%, rgba(227, 87, 64, 1) 100%);
}
