@import 'src/assets/styles/_variables.scss';
@import 'src/assets/styles/_colors.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 400px;
    background-color: $card-background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius-2;

    .header{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding: $spacing-4 0px;
        border-bottom: 1px solid $border-color;

        .bulletWrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            position: relative;
            margin-bottom: $spacing-5;

            .bullet{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgb(69, 69, 69);
            }

            .bulletPoint{
               position: absolute;
               bottom: -20px;
            }
        }

        .line{
            width: 30%;
            height: 4px;
            margin-bottom: $spacing-5;
            background-color: rgb(69, 69, 69);
        }
    }

    .body{
        flex: 4;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-4;
    }

    .footer{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}